/* Colors from https://www.happyhues.co/palettes/17 */
:root {
    --color-primary: #001858;
    --color-secondary: #f582ae;
    --color-tertiary: #8bd3dd;
    --color-background: #f3d2c1;
    --color-modal-background: rgba(0, 24, 88, 0.5); /* half-transparent version of color-primary*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 20vh);
    width: 100vw;
    height: 100vh;
}

.square {
    background: var(--color-background);
    border: 0.25px solid var(--color-primary);
}

#thanksSquare, #forSquare, #playingSquare {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thanksSquare h1, #forSquare h1, #playingSquare h1 {
    color: var(--color-primary);
}


#difficultyModal, #replayModal {
    border: 1px solid var(--color-primary);
    padding: 2rem;
    background-color: var(--color-background);
    max-width: 400px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#difficultyModal::backdrop, #replayModal::backdrop {
    background-color: var(--color-modal-background);
    backdrop-filter: blur(3px);
}

#difficultyModal h2, #replayModal h2 {
    color: var(--color-primary);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

#replayModal p {
    color: var(--color-primary);
    margin: 1.5rem 0;
}

#replayModal span {
    color: var(--color-primary);
    font-weight:bold
}

#difficultyModal button, #replayModal button {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0.75rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    cursor: pointer;
    border-radius: 0;
    outline: none;
}

#difficultyModal button:focus, #replayModal button:focus {
    outline: none;
}

#difficultyModal button:hover, #replayModal button:hover {
    background-color: var(--color-tertiary);
}

#difficultyModal button:active, #replayModal button:active {
    background-color: var(--color-secondary);
}