/* Colors from https://www.happyhues.co/palettes/17 */
:root {
    --color-primary: #001858;
    --color-secondary: #f582ae;
    --color-tertiary: #8bd3dd;
    --color-background: #f3d2c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 20vh);
    width: 100vw;
    height: 100vh;
}

.square {
    background: var(--color-background);
    border: 0.25px solid var(--color-primary);
}
